* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

h1 {
    font-weight: 500;
    margin-top: 10px;
    padding: 15px;
    border-bottom: 3px solid #e67e22;    
    
}

h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 25px;
}

h4 {
    font-size: 25;
    margin-bottom: 2%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-box{
    margin-bottom: 10px;
}

.how-works-box {
    padding-right: 2%;
    padding-left: 2%;
}

.restrictons-box {
    padding-right: 2%;
    padding-left: 2%;
}

.inputHeading {
    margin-top: 10px;
}



button {
    justify-content: center;
    background-color: #e67e22;
    border-color: #e67e22;
    font-size: 15px;
    padding: 4px;
    width: 125px;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 2px #efefef;
    margin-top: -2%;
    margin-left: 42.7%;
}

textarea {
    border-color: #e67e22;
    border-width: thick;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    margin-right: 1%;
    padding: 1%;
    width: 580px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    margin: auto;
    margin-top: -2%;
    width: 800px;
    padding: 0.65%;
    border-color: #e67e22;    
}

.sourceImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


